<p>product works!</p>

<!-- <div>
  Welcome {{ user }} to {{ title }}
  {{ product1.productName }}
  <ul>
    <li *ngFor="let product of products">{{product.productName}}</li>
  </ul>
</div> -->

<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<table *ngIf="dataLoaded!=false" class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
      <th>Unit in Stock</th>
    </tr>
  </thead>
    <tr *ngFor="let product of products">
        <td>{{product.productId}}</td>
        <td>{{product.productName}}</td>
        <td>{{product.categoryId}}</td>
        <td>{{product.unitPrice}}</td>
        <td>{{product.unitInStock}}</td>
      </tr>
 </table>